<div style="padding: 5%;">
  <div style="display: flex; align-items: center; justify-content: end;">
    <h4 style="margin-top: 15px; padding: 2px;">All :</h4>

    <ng-container >
      <ng-container *ngIf="!product.isEditing; else editField">
        <button mat-raised-button class="transparent-button" style="border: 1px solid #1976d2; margin-right: 5px; border-radius: 5px;" (click)="enableEditModeForAll()"><mat-icon class="blue-icon">edit</mat-icon></button>
      </ng-container>

      <ng-template #editField>
          <button mat-raised-button class="transparent-button" style="border: 1px solid #2aa053; margin-right: 5px; border-radius: 5px;" (click)="saveAllProducts()"><mat-icon style="color: #2aa053;    margin-top: 1px;">save</mat-icon></button>
          <button mat-raised-button class="transparent-button"  style="border: 1px solid #585958; margin-right: 5px; border-radius: 5px;" (click)="cancelAllEdits()"><mat-icon style="color: #585958;    margin-top: 1px;">cancel</mat-icon></button>
      </ng-template>
  </ng-container>
  </div>


  <p>Tableau details des produits : </p>

  <table mat-table [dataSource]="productsList" class="mat-elevation-z8 demo-table">



    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let product" [style.border]="!product.name ? '1px solid #bf1717' : ''" [attr.title]="!product.name ? 'Errrrreuur' : null">
        <ng-container *ngIf="!product.isEditing; else editField">
          {{ product.name }}
        </ng-container>
        <ng-template #editField>
          <form (submit)="saveProduct(product); toggleEditMode(product)">
            <input type="text" [(ngModel)]="product.name" name="name" required>
          </form>
        </ng-template>
      </td>
    </ng-container>



    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let product" [style.border]="product.price < 0 ? '1px solid #bf1717' : ''" [attr.title]="product.price < 0 ? 'Errrrreuur' : null">
        <ng-container *ngIf="!product.isEditing; else editField">
          {{ product.price }}

        </ng-container>
        <ng-template #editField>
          <form (submit)="saveProduct(product); toggleEditMode(product)">
            <input type="number" class="width-input-max" [(ngModel)]="product.price" name="price" required>
          </form>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="sale">
      <th mat-header-cell *matHeaderCellDef>sale</th>
      <td mat-cell *matCellDef="let product" [style.border]="product.sale < 0 ? '1px solid #bf1717' : ''" [attr.title]="product.sale < 0 ? 'Errrrreuur' : null">
        <ng-container *ngIf="!product.isEditing; else editField">
          {{ product.sale }}
        </ng-container>
        <ng-template #editField>
          <form (submit)="saveProduct(product); toggleEditMode(product)">
            <input type="checkbox"  style="cursor: pointer;"[(ngModel)]="product.sale" name="sale" required>
          </form>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="price_on_sale">
      <th mat-header-cell *matHeaderCellDef>price_on_sale</th>
      <td mat-cell *matCellDef="let product" [style.border]="(product.price_on_sale < 0 || product.price_on_sale > 100) ? '1px solid #bf1717' : ''" [attr.title]="(product.price_on_sale < 0 || product.price_on_sale > 100) ? 'Errrrreuur' : null">
          <ng-container *ngIf="!product.isEditing; else editField">
          {{ calculatePercentageDiscount(product) }}
        </ng-container>
        <ng-template #editField>
          <form (submit)="saveProduct(product); toggleEditMode(product)" style="display: flex;">
            <input type="number" class="width-input-max" [(ngModel)]="product.price_on_sale" name="price_on_sale" required>
            <span *ngIf="product.isEditing">%</span>
          </form>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity_stock">
      <th mat-header-cell *matHeaderCellDef>quantity_stock</th>
      <td mat-cell *matCellDef="let product" [style.border]="product.quantity_stock < 0 ? '1px solid #bf1717' : ''" [attr.title]="product.quantity_stock < 0 ? 'Errrrreuur' : null">
        <ng-container *ngIf="!product.isEditing; else editField">
          {{ product.quantity_stock }}

        </ng-container>
        <ng-template #editField>
          <form (submit)="saveProduct(product); toggleEditMode(product)" >
            <input type="number" class="width-input-max" [(ngModel)]="product.quantity_stock" name="quantity_stock" required>
          </form>
        </ng-template>
      </td>
    </ng-container>
>
  <ng-container matColumnDef="quantity_sold">
    <th mat-header-cell *matHeaderCellDef>quantity_sold</th>
    <td mat-cell *matCellDef="let product" [style.border]="product.quantity_sold < 0 ? '1px solid #bf1717' : ''" [attr.title]="product.quantity_sold < 0 ? 'Errrrreuur' : null">
      <ng-container *ngIf="!product.isEditing; else editField">
        {{ product.quantity_sold }}

      </ng-container>
      <ng-template #editField>
        <form (submit)="saveProduct(product); toggleEditMode(product)" >
          <input type="number" class="width-input-max" [(ngModel)]="product.quantity_sold" name="quantity_sold" required>
        </form>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef>comments</th>
    <td mat-cell *matCellDef="let product" [style.border]="!product.comments ? '1px solid #bf1717' : ''" [attr.title]="!product.comments ? 'Errrrreuur' : null">
      <ng-container *ngIf="!product.isEditing; else editField">
        {{ product.comments }}
      </ng-container>
      <ng-template #editField>
        <form (submit)="saveProduct(product); toggleEditMode(product)">
          <input type="text" [(ngModel)]="product.comments" name="comments" required>
        </form>
      </ng-template>
    </td>
  </ng-container>


  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let product">
      <ng-container *ngIf="product.isEditing; else editField">
        <!-- Bouton "Save" -->
        <form (submit)="saveProduct(product); toggleEditMode(product)">
            <div style="display: flex;">
              <button class="transparent-button" type="submit"><mat-icon style="color: #2aa053;">save</mat-icon></button>
              <button class="transparent-button"  type="button" (click)="toggleEditMode(product)"><mat-icon style="color: #585958;">cancel</mat-icon></button>
          </div>
          </form>
      </ng-container>
      <ng-template #editField>
        <!-- Bouton "Edit" -->
        <button mat-button class="transparent-button" aria-label="Example icon button with a home icon" (click)="toggleEditMode(product)">
          <mat-icon class="blue-icon">edit</mat-icon>
        </button>


      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="[ 'name', 'price','sale', 'price_on_sale', 'quantity_stock', 'quantity_sold', 'comments' ,'edit',]"></tr>
<tr mat-row *matRowDef="let row; columns: [ 'name', 'price','sale', 'price_on_sale', 'quantity_stock', 'quantity_sold', 'comments' ,'edit',]"></tr>
</table>
<br/>
<hr/>

</div>

<table mat-table [dataSource]="productsCrustacesList" class="mat-elevation-z8 demo-table">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let product">
      <ng-container *ngIf="!product.isEditing; else editField">
        {{ product.name }}
      </ng-container>
      <ng-template #editField>
        <form (submit)="saveProduct(product); toggleEditMode(product)">
          <input type="text" [(ngModel)]="product.name" name="name" required>
        </form>
      </ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let product">
      <ng-container *ngIf="product.isEditing; else editField">
        <!-- Bouton "Save" -->
        <form (submit)="saveProduct(product); toggleEditMode(product)">
            <div style="display: flex;">
              <button class="transparent-button" type="submit"><mat-icon style="color: #2aa053;">save</mat-icon></button>
              <button class="transparent-button"  type="button" (click)="toggleEditMode(product)"><mat-icon style="color: #585958;">cancel</mat-icon></button>
          </div>
          </form>
      </ng-container>
      <ng-template #editField>
        <!-- Bouton "Edit" -->
        <button mat-button class="transparent-button" aria-label="Example icon button with a home icon" (click)="toggleEditMode(product)">
          <mat-icon class="blue-icon">edit</mat-icon>
        </button>


      </ng-template>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="[ 'name','edit']"></tr>
  <tr mat-row *matRowDef="let row; columns: [ 'name','edit']"></tr>
</table>
