<div class="Dashboard w-100 h-10 mt-1 border">
    <ul class="d-flex justify-content-between px-5 pt-3 list-unstyled">
      <li routerLink="/" routerLinkActive="active">Dashboard</li>
      <li routerLink="/detail" routerLinkActive="active">Detail</li>
      <li routerLink="/produit" routerLinkActive="active">Produit</li>
      <li routerLink="/details-produits" routerLinkActive="active">Details Produits</li>
      <li routerLink="/auth" routerLinkActive="active">Connexion</li>
    </ul>
  </div>
